<div class="tab tab-content" data-tab="notes" data-group="primary">

  <section class="section notes-section">
    <h3 class="section-title">{{localize "ICON.Section.Notes"}}</h3>
    {{editor system.state.notes name="system.state.notes" editable=isEditable button=true}}
  </section>

</div>
